# Aula 01 - Resolução das PErguntas de Negocio.

## 1.1 Novas perguntas do CEO:
1. Quantas casas estão disponíveis para compra?
2. Quantos atributos as casas possuem?
3. Quais são os atributos das casas?
4. Qual a casa mais cara ( casa com o maior valor de venda )?
5. Qual a casa com o maior número de quartos?
6. Qual a soma total de quartos do conjunto de dados?
7. Quantas casas possuem 2 banheiros?
8. Qual o preço médio de todas as casas no conjunto de dados?
9. Qual o preço médio de casas com 2 banheiros?
10. Qual o preço mínimo entre as casas com 3 quartos?
11. Quantas casas possuem mais de 300 metros quadrados na sala de estar?
12. Quantas casas tem mais de 2 andares?
13. Quantas casas tem vista para o mar?
14. Das casas com vista para o mar, quantas tem 3 quartos?
15. Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?

In [88]:
# Import LIbraries

import pandas as pd
import numpy as np

### Loading Data

In [7]:
data = pd.read_csv( 'datasets/kc_house_data.csv' )

In [8]:
# Ploting data
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

## 1. How many homes are available for purchase?

In [27]:
# Counting number of lines the same number of houses
# len(data['id'].unique())
# Or using .drop function (remove od duplicados e conta novamente)
# Estrategy:
# 1. Select "id" column;
# 2. Remov repeated value;
# 3. Count the number of unique values.
houses = len(data['id'].drop_duplicates())
print('The number of avaible houses are {}'.format(houses))

The number of avaible houses are 21436

## 2. How many attributes do houses have?

In [32]:
# Estrategy:
# 1. Count the number os columns;
# 2. Remove values "id", "date" (they are not attributes):
attributes = len(data.drop(['id', 'date'], axis = 1).columns)
print('The houses have {} attributes'.format(attributes))

The houses have 19 attributes

## 3. What are the attributes of houses?

In [37]:
## Estrategy:
# 1. Plot the columns.
attributes2 = data.drop(['id', 'date'], axis=1).columns
print('The attributes are: {}'.format(attributes2))

The attributes are: Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

## 4. What is the most expensive house (house with the highest sale price)?

In [69]:
# Estrategy:
# 1. Arrange the price column from highest to lowest 
# 2. Apply reset index to recount rows and ensure correct result;
# 3. Collect the value and id from the first row.

data[['id','price']].sort_values('price', ascending=False).head() # 1
exphouse = data[['id','price']].sort_values('price', ascending=False).reset_index(drop=True)['id'][0] # 2 and 3
highestprice = data[['id','price']].sort_values('price', ascending=False).reset_index(drop=True)['price'][0]
print('The most expensive House is: id {} price U${}'.format(exphouse, highestprice))

The most expensive House is: id 6762700020 price U$7700000.0

## 5. Which house has the most bedrooms?

In [87]:
# Estrategy:
# 1. Arrange the bedroom column from highest to lowest;
# 2. Apply reset index to recount rows and ensure correct result;
# 3. Collect the value and id from the first row.
data[["id","bedrooms"]].sort_values("bedrooms", ascending=False).head() # 1
bedroomsid = data[['id','bedrooms']].sort_values('bedrooms', ascending=False).reset_index(drop=True)['id'][0] # 2 and 3
bedrooms1 = data[['id','bedrooms']].sort_values('bedrooms', ascending=False).reset_index(drop=True)['bedrooms'][0]
print('The house with the most bedrooms is {} and have {} bedroomns'.format(bedroomsid, bedrooms1))

The house with the most bedrooms is 2402100895 and have 33 bedroomns

# 6. What is the sum total of bedrooms in the dataset?

In [73]:
# Estrategy:
# 1. Filter the columns "bedrooms" and sum this value.
bedroomsnumber = data['bedrooms'].sum()
print('There are a total of {} bedrooms'.format(bedroomsnumber))

There are a total of 72854 bedrooms

# 7. Quantas casas possuem 2 banheiros?

In [173]:
# Estrategy:
# 1. Find the number of houses whit 2 bathrooms; 
# 2. Select columns "id" and "bathroom";
# 3. Sum the number of houses.
data.loc[data['bathrooms'] == 2, ['id', 'bathrooms']] # 1
bethroomsum = data.loc[data['bathrooms'] == 2, ['id', 'bathrooms']].shape # 2 and 3
print('There are a total of {} bethrooms'.format(bethroomsum))

There are a total of (1930, 23) bethrooms

# 8. What is the average price of all houses in the dataset?

In [90]:
# Estrategy:
# 1. Find the average price of houses.
# Ps.: Use numpy's round() function to select only 2 number after point.
averageprice = np.round(data['price'].mean(), 2)
print('The average price of the houses is: U${}'.format(averageprice ))

The average price of the houses is: U$540088.14

In [91]:
# the function data.dtypes show us what types variables we have.
data.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

# 9. What is the average price only houses whit 2 bathroom?

In [93]:
# Estrategy:
# 1. Find only the average price of houses whit 2 bathroms.
avg_bath = np.round(data.loc[data['bathrooms'] == 2, 'price'].mean(), 2)
print('The average price for houses whit 2 bathrooms is U${}'.format(avg_bath))

The average price for houses whit 2 bathrooms is U$457889.72

# 10. What is the minimum price between 3 bedroom homes?

In [98]:
# Estrategy:
# 1. Select only 3 bedroom house and arrange ascending by price
min_price_bed = data.loc[data['bedrooms'] == 3, 'price'].min(),
print('The minimum price for houses whit 3 bedrooms is U${}'.format(min_pricebed))

The minimum price for houses whit 3 bedrooms is U$82000.0

# 11. How many homes have more than 300 square meters in the living room?

In [161]:
# Estrategy:
# 1. Select only houses whit mor than 300ft² of living room and read the number of lines.
data['m2'] = data['sqft_living'] * 0.093
sqft_300 = len(data.loc[data['m2'] > 300, 'id'])
print('There are {} houses whit mor than 300ft² in the living room.'.format(sqft_300))

There are 2258 houses whit mor than 300ft² in the living room.

#### Se quiser fazer a converção de ft² para m² basta usar o seguinte raciocionio: (1 ft² = 0.093 m²)
#### data['m²']=data['sqft_living'] * 0.093 - (aqui substituimos a variavel sqft_living pela m² ja convertendo o valor)
#### len(data.loc[data['m²'] > 300, 'id'])

# 12. How many homes have more than 2 floors?

In [114]:
# Estrategy:
# 1. Select only houses whit mor than 300ft² of living room and read the number of lines.
floor_2 = data.loc[data['floors'] > 2, 'id'].size
print('There are {} houses whit mor than 2 floors.'.format(floor_2))

There are 782 houses whit mor than 2 floors.

# 13. How many houses have a waterfront view?

In [111]:
# Estrategy:
# 1. Select only houses whit waterfront view and read the number of lines.
waterfront_view = len(data.loc[data['waterfront'] != 0, 'id'])
print('There are {} houses whit waterfront view.'.format(waterfront_view))

There are 163 houses whit waterfront view.

# 14. Of the houses with a waterfront view, how many have 3 bedrooms?

In [124]:
# Estrategy:
# 1. Select only houses whit waterfront view and read how many have 3 bedrooms.
data.columns
waterfront_bed = data.loc[(data['waterfront'] != 0) & (data['bedrooms'] == 3), "id"].size
print('Of the houses whit waterfront, {} houses have 3 bedrooms.'.format(waterfront_bed))

Of the houses whit waterfront, 64 houses have 3 bedrooms.

# 15. Of the houses with more than 300 square meters of living room, how many have more than 2 bathrooms?

In [190]:
# Estrategy:
# 1. Select only houses whit mor than 300m² of livingo room and mor than 2 bedrooms.
house_300m_2bat = data[(data['m2']>300) & (data['bathrooms']>2)].shape[0]
print('Of the houses whit 300 square meters of living room, {} houses have 2 bathrooms.'.format(house_300m_2bat))

Of the houses whit 300 square meters of living room, 2201 houses have 2 bathrooms.